* {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;

}

.container {
max-width: 1200px;
margin: auto;
}

.header{
line-height: 60px;
background-color: #333;
}

.logo{
background-color: #ff3600;
color: #fff;
display: block;
float: left;
}

.nav a{
color: #fff;
text-decoration: none;
}

.nav ul{
list-style-type: none;
}

.nav li{
display: block;
float: left;
padding: 0 20px 0 0;
}
.nav{
color: #ff3600;
line-height: 60px;
height: 60px;
}