* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    background-color: #e0e0e0;
}


.page {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f5f5f5;
    overflow: hidden; 
}


.banner {
    height: 580px;
    width: 100%;
    background-image: url("pilt1.png");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 40px;
}


.menu {
    position: absolute;
    top: 500px;
    right: 40px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 25px;
}


.banner-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.banner-content h1 {
    font-size: 2.2rem;
    color: white;
}

.banner-content p {
    font-size: 1.1rem;
    color: white;
    margin-top: 8px;
}


.content {
    padding: 60px 0;
    text-align: center;
}

.content h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
}

.content p {
    font-size: 17px;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}


.gallery {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.card {
    width: 250px;
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.card h3,
.card span {
    font-size: 1.3rem;
    color: #1e5aa8;
    margin-top: 10px;
}

.card p {
    font-size: 0.95rem;
    line-height: 1.8;
    margin: 10px 0;
}


.footer {
    height: 40px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
